* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__posts {
  padding: 10px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__content {
  width: 500px;
  margin: 0px auto;
  display: inline-block;
}

.app__loginContainer {
  float: right;
  display: inline-flex;
  margin-top: 4px;
  width: 50%;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
  padding-top: 4px;
}

.app__signup {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.app_addImage {
  cursor: pointer;
  width: 25%;
}

.app_userDetails {
  cursor: pointer;
  width: 25%;
}
